.App {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: #000000;
  min-height: 100vh;
}
h1 {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main {
  padding: 1rem;
}
.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
