.App {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: #000000;
  min-height: 100vh;
}
h1 {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main {
  padding: 1rem;
}
#jira-work {
  align-items: center;
  gap: 2rem;
  background-color: bisque;
}
#Projects {
  background-color: lightblue;
}
#Contact {
  background-color: #000000;
  color: white;
}
.text-info {
  font-size: 14px;
  text-align: center;
  color: grey;
  margin-bottom: 1rem;
}
.tech-logo-container {
  padding: 60px;
  padding-top: 8px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.icon-wrapper > img {
  width: 70px;
  height: 70px;
}
.icon-wrapper {
  padding: 20px 12px;
  margin: 8px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px lightcoral;
  box-sizing: border-box;
}
.icon-wrapper:hover img {
  width: 60px;
  transition: width .5s;
  cursor: pointer;
}
.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

.legend-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: right;
  position: absolute;
  right: 0;
  padding: .25rem;
  border: 1px solid lightgrey;
  margin: 1rem;
}

.carousel .control-dots .dot {
  background-color:#000000;
  width: 12px;
  height: 12px;
}

.carousel.carousel-slider {
  width: 70% !important;
  left: 15%;
}

@media screen and (max-width: 420px) {
  .carousel.carousel-slider {
    width: 90% !important;
    left: 5%;
  }
}
@media screen and (max-width: 740px) {
  .carousel.carousel-slider {
    width: 80% !important;
    left: 10%;
  }
}

.carousel.carousel-slider .control-arrow {
  background-color: gray;
}

.carousel .slide img {
  width: 640px;
}

@media screen and (max-width: 420px) {
  .carousel .slide img {
    width: 260px;
  }
}
@media screen and (max-width: 640px) {
  .carousel .slide img {
    width: 360px;
  }
}
