.App {
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: #000000;
  min-height: 100vh;
}
h1 {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main {
  padding: 1rem;
}
.text-info {
  font-size: 14px;
  text-align: center;
  color: grey;
  margin-bottom: 1rem;
}
.tech-logo-container {
  padding: 60px;
  padding-top: 8px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.icon-wrapper > img {
  width: 70px;
  height: 70px;
}
.icon-wrapper {
  padding: 20px 12px;
  margin: 8px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px lightcoral;
  box-sizing: border-box;
}
.icon-wrapper:hover img {
  width: 60px;
  transition: width .5s;
  cursor: pointer;
}
.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}
