.text-xs {
    font-size: 12px;
}
.text-sm {
    font-size: 15px;
}
.text-md {
    font-size: 18px;
}
.text-lg {
    font-size: 24px;
}
.text-shadow {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.54);
}
.text-bold {
    font-weight: bold;
}
.text-normal {
    font-weight: normal;
}